hr{
    margin: 0;

}
.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{

    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.5em;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo{
        
        color: var(--cinza-secundario);
        font-size: 14px;

    }
    
    .rodape__titulo{
        font-size: 24px;
    }
}
@media screen and (min-width: 1080px){
    .lista-rodape{
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }
    .rodape{
        padding: 3em ;
    }
    .rodape__titulo{
        color: var(--cinza);
    }
}